<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/css/err.css") 
        title (ᗒᗣᗕ)՞ node_chan err 500!
    body
        h1 (ᗒᗣᗕ)՞ node_chan err 500!
        h2 internal error...
        br
        p If you're seening this, the code is in what I thought was an unrechable state.
        p I could give you advice for what to do. But Honestly, why should you trust me? I clearly screwed this up. I'm writing a message that should never appear, yet I know it will probably appear someday.
        p On a deep level, I know I'm not up to this task. I'm sorry... 
        span -- 
        a(href="https://xkcd.com/2200/") xkdc