extend ./layouts/mainLayout.pug
block content
    div.main
        h1 ᶘ ᵒᴥᵒᶅ node_chan: config
        hr
        p here goes configs...
        p Ea do deserunt ex amet aute reprehenderit pariatur sint aliquip ex. Sit occaecat ipsum officia sit culpa dolore sit aute ullamco ad laboris. Magna magna magna non ut dolore veniam dolore ipsum dolor deserunt. Laborum voluptate est nostrud officia aute incididunt. Cupidatat exercitation sit et Lorem est ipsum ex tempor dolore aliquip. Cillum sint consequat esse dolor sint anim do occaecat id.
        p Elit minim ea nulla exercitation. Aute occaecat magna quis minim quis quis eiusmod ea. Reprehenderit nisi ea nisi tempor consectetur mollit adipisicing mollit nisi esse non fugiat aliquip. Lorem aliquip proident consequat velit deserunt esse commodo adipisicing. Reprehenderit eiusmod veniam enim culpa do elit officia sunt. In et adipisicing exercitation exercitation veniam aliquip non est amet.
        p Duis velit fugiat ullamco sunt sunt labore ea eu. Pariatur deserunt commodo fugiat ut aliquip deserunt sit nulla fugiat magna anim ea. Sint aliqua sunt quis ut ullamco amet do ut culpa commodo aute nisi ex esse. Aliquip id laborum occaecat enim est excepteur reprehenderit cupidatat anim sint enim amet id est. Est magna est sit laborum elit magna elit. Ad consequat reprehenderit pariatur quis magna sunt.


