body {
  box-sizing: border-box;
  margin: 15% auto;
  text-align: center;
  width: 50%;
  font-family: monospace;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 0 black;
  padding: 1rem;
}

p {
  width: 90%;
}
