body {
  box-sizing: border-box;
  font-family: monospace;
  color: var(--color_text);
  background-color: var(--color_background);
}

.main {
  margin: 0 auto;
  padding: 0 1rem;
  padding-bottom: 0.5rem;
  border: 1px solid var(--color_border);
  border-radius: 5px;
  box-shadow: 2px 2px 0 var(--color_border);
  width: 500px;
}

.main input,
textarea {
  width: 100%;
  resize: none;
}

.main button {
  padding: 1rem;
  text-align: center;
  width: 100%;
  margin: 0.5rem 0;
  background-color: var(--color_acsent);
  border: 1px solid var(--color_border);
  border-radius: 2px;
  box-shadow: 2px 2px 0 var(--color_border);
}

.post {
  margin: 0.3rem;
  border: 1px dashed var(--color_border);
  border-radius: 1px;
  display: grid;
  grid-template-rows: 0.9rem auto;
}

.postHead {
  font-size: 0.8rem;
}

.postBody {
  margin: 0.2rem;
  display: flex;
  flex-direction: row;
}

.postBody img {
  width: 12rem;
}

.post p {
  margin: 0 0 0 0.5rem;
  background-color: transparent;
}

.post:nth-child(odd) {
  background-color: var(--color_post_odd);
}

.post:nth-child(even) {
  background-color: var(--color_post_even);
}

@media (max-with: 500px) {
  .main {
    width: 90%;
  }
}
